:root {
    --brand-color: rgb(84, 84, 84);
}

@font-face {
    font-family: "Valorant";
    src: url("fonts/Valorant Font.ttf");
  }


* {
    background-color: var(--brand-color, #f0f0f0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 600px) {
    body {
      font-size: 10px;
    }
  }

button {
    padding: 1em 1em;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 1vh;
    margin-bottom: 1vw;
}

h1 {
    color: #8989d8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    margin: auto;
    display: block;
}

hr {
    margin: 0px 1px 0px 1px;
    display: flex;
}

h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 200%;
}

h2:has(i) {
    color: hsl(0, 0%, 0%);
    font-size: 1.5em;
}

h3 {
    color: hsl(240, 100%, 91%);
    font-size: 0.5cm;
}

h4 {
    color: hsla(240, 100%, 91%, 0.9);
}

h5 {
    color: red;
}

h2 i {
    color: hsl(0, 100%, 50%);
    font-size: 1.5em;
}

ul > li > i {
    color: hsl(0, 0%, 0%);
    font-weight: bold;
}

li ~ li ~ li {
    color: #f0f;
}

h2.title {
    color: hsl(240, 100%, 91%);
    font-size: 2.5em;
}

h1 + h2 {
    color: hsl(120, 100%, 50%);
    font-size: 1.5em;
}

a {
    color: hwb(0 100% 0%);
    font-weight: bold;
    border-style: solid;
    text-decoration: none;
    border-color: #FFFFFF;
    border-width: 2px;
    padding: 2px;
}

a:hover {
    color: hwb(0 100% 0% / 0.8);
    background-color: hwb(0 100% 0% / 0.2);
    border-color: hwb(0 100% 0% / 0.5);
}

li[attribute="bold"] {
    font-weight: bold;
  }

#jonathan, #lebron, #jett {
    color: red;
    font-size: 1.5em;
}

textarea {
    color: hwb(0 100% 0%);
    font-size: 1.2em;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -30px;
    border-radius: 2px;
}

input {
    padding-right: 11px;
    padding-left: 10px;
}

fieldset {
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
}

li {
    color: color-mix(in srgb, rgb(0, 0, 0) 40%, rgb(255, 255, 255) 60%);
    font-size: 0.15in;
    margin: 10px 20px -10px 30px;
}

form {
    color: color(srgb 0.1 0.1 0.3 / 1);
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    min-width: 300px;
}

.lovey {
    color: white;
    max-width: 1000px;
}

.image:active {
    width: 100%;
    height: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    display: block;
    position: static;
}

.relative {
    position: absolute;
    inset-inline-start: 400px;
    inset-block-start: 20px;
    font-size: 2em
}

.flexbox-test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    flex-direction: column;
    flex-wrap: wrap;
  }

video {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    display: block;
    position: static;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

#title {
    font-family: "Valorant", sans-serif;
}